# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs/
crash-reports/
saves/
usernamecache.json
options.txt
README.txt
forge-1.8-11.14.4.1563-changelog.txt
